body {
  max-width: 1000px;
  margin: 0 auto;
  background-color:  #ccccb3


}
h1 {
  font-family: 'Chewy', cursive;
  font-color:  #800000

}
h2 {
 font-family: 'Chewy', cursive;
 font-color:  #800000
}
 h3 {
  font-family: 'Chewy', cursive;
  font-color:  #800000




.item {

}
